$fg-light: #000000;
$bg-light: #ffffff;
$accent-light: #ffb36c;
$input-bg-light: #e4e4e4;
$input-fg-light: #ababab;
$hero-input-bg-light: #e4e4e4;
$hero-input-fg-light: #ababab;

$fg-dark: #ffffff;
$bg-dark: #000000;
$accent-dark: #ffca99;
$input-bg-dark: #e4e4e4;
$input-fg-dark: #ababab;
$hero-input-bg-dark: #e4e4e4;
$hero-input-fg-dark: #ababab;

$hero-fg: #ffffff;
